---
---

$header-heading-color: #000000;
$header-bg-color: #434343;           // Right side of gradient (default green)
$header-bg-color-secondary: #000000; // Left side of gradient (default blue)

@import "{{ site.theme }}";

// Your custom styles below
.page-header h1 {
  color: $header-heading-color;
  position: relative; // Needed for absolute positioning of the logo
  text-align: center; // Keep the title centered if desired
}

.site-logo {
  position: absolute;
  top: 1rem;
  right: 1rem;
  max-width: 230px; // Adjust size as needed
  height: auto;
}

@media screen and (max-width: 30rem) {
  .site-logo {
    position: static;
    display: block;
    margin: 0 auto 0rem;
  }
}

